* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.btn,
button,
input[type="submit"],
input[type="reset"] {
  padding: 1vh 2vw;
  border: none;
  cursor: pointer;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 0.8;
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active {
  opacity: 1;
  cursor: default;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 5%;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

li .card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
}

li .card > :not(:last-child) {
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.book-title {
  font-weight: 600;
  font-size: 1rem;
}

.book-author::before {
  content: "By ";
  font-weight: 500;
}

.book-pages::after {
  content: " pages";
  font-weight: 500;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.show {
  display: block;
}

/* The Close Button */
.close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#new_book_form {
  border: 3px solid antiquewhite;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}

.input-group label {
  font-weight: 600;
}

.input-group input {
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.048);
  margin: 0 10px;
  font-size: 1.5rem;
}

.form-btns {
  text-align: center;
}

.form-btns input {
  width: clamp(50px, 40%, 20vw);
}
